{% extends "layout.html" %}{% block content %}

<div class="row align-items-center">
  <div class="col">
    <img
      src="{{ url_for('static', filename= 'About.jpg') }}"
      alt="Picture of bowl of yogurt filled with fruits and almonds"
      class="img-fluid"
      width="700"
    />
  </div>
  <div class="col">
    <h3 class="text-center">About us</h3>
    <p>
      Welcome to the ultimate culinary hub where convenience meets creativity.
      Our innovative platform makes finding the perfect recipe as easy as a few
      clicks. Why choose us? Because we empower you! Search recipes by
      ingredients to make the most of what’s in your pantry. But that’s not all
      – become a registered user and unlock a world of possibilities by creating
      your profile. Share your culinary masterpieces with our community, and let
      your creativity shine by adding your own recipes. Join us today and
      elevate your cooking experience!
    </p>
  </div>
</div>
<hr />
<div class="row align-items-center">
  <div class="col">
    <h3 class="text-center">About us</h3>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore totam a
    fugiat repellendus praesentium perferendis nostrum, architecto numquam?
    Necessitatibus vitae ipsum in fugiat dolorem ab ipsam sequi cum natus
    dolorum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
    totam a fugiat repellendus praesentium perferendis nostrum, architecto
    numquam? Necessitatibus vitae ipsum in fugiat dolorem ab ipsam sequi cum
  </div>
  <div class="col">
    <img
      src="{{ url_for('static', filename= 'Home.jpg') }}"
      alt="Picture of bowl of yogurt filled with fruits and almonds"
      class="img-fluid"
      width="700"
    />
  </div>
</div>

{% endblock %}
