{% extends "layout.html" %} {% block content %}
<h1 class="text-center">Add Recipe</h1>
<hr />
<form action="" method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>Recipe Title</h4>
        <p>
          {{ form.title(class="form-control" + (" is-invalid" if
          form.title.errors else "") + " ", **{"placeholder": "Title",
          "aria-describedby": "titleHelp", "autocomplete": "off"}) }}
        </p>
        <h2>Ingredients</h2>
        <p>{{ form.ingredients(class_="form-control") }}</p>
        <p>
          {{ form.add_ingredient(class_="btn btn-secondary",
          formnovalidate=True) }}
        </p>
      </div>
      <div class="col">
        <h2>Instructions</h2>
        <p>
          {{ form.instructions(class_="form-control", cols="35", rows="20") }}
        </p>
      </div>
      <div class="col">
        <h4>Diet</h4>
        <p>{{ form.diet(class_="form-control") }}</p>
        <h4>Allergies</h4>
        <p>{{ form.allergies(class_="form-control") }}</p>
        <h4>Cuisines</h4>
        <p>{{ form.cuisines(class_="form-control") }}</p>
        <h4>Taste Profile</h4>
        <p>{{ form.taste(class_="form-control") }}</p>
        <h4>Image upload</h4>
        <p>{{ form.image(class_="form-control") }}</p>
        <h4>Visibility</h4>
        <p>{{ form.visibility(class_="form-control") }}</p>
        {% for error in form.image.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </div>
    </div>
  </div>

  <p class="text-center">
    <input type="submit" value="Submit" class="btn btn-primary btn-lg" />
  </p>
</form>

{% endblock content %}
