{% extends "layout.html" %} {% block content %}
<h1>Add Recipe</h1>
<form action="" method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>Recipe Title</h4>
        <p>{{ form.title }}</p>
        <h2>Ingredients</h2>
        <p>{{ form.ingredients() }}</p>
        <p>{{ form.add_ingredient(formnovalidate=True) }}</p>
      </div>
      <div class="col">
        <h2>Instructions</h2>
        <p>{{ form.instructions(cols="35", rows="20") }}</p>
      </div>
      <div class="col">
        <h4>Allergies</h4>
        <p>{{ form.allergies }}</p>
        <h4>Cuisines</h4>
        <p>{{ form.cuisines }}</p>
        <h4>Taste Profile</h4>
        <p>{{ form.taste }}</p>
        <h4>Image upload</h4>
        <p>{{ form.image }}</p>
        <h4>Visibility</h4>
        <p>{{ form.public }}</p>
        {% for error in form.image.errors %} {% if "size" in error %}
        <span style="color: red">[{{ error }}]</span>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>

  <p><input type="submit" value="Submit" /></p>
</form>

{% endblock content %}
