{% extends "layout.html" %} {% block content %}
<h1 class="text-center">Advanced Search</h1>
<form action="" method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <h4>Ingredients</h4>
        <p>{{ form.ingredients(class_="form-control") }}</p>
        <h4>Diet</h4>
        <p>{{ form.diet(class_="form-control") }}</p>
      </div>
      <div class="col">
        <h4>Allergies</h4>
        <p>{{ form.allergies(class_="form-control") }}</p>
        <h4>Cuisines</h4>
        <p>{{ form.cuisines(class_="form-control") }}</p>
      </div>
    </div>
    {{ form.submit(class_="btn btn-primary btn-lg")}}
  </div>
</form>
{% endblock %}
