{% extends "layout.html" %}{% block content %}
<div class="container text-center">
  <div class="row align-items-center">
    <div class="col"></div>
    <div class="col-6">
      <h1>My Bookmarks</h1>
      <hr />
      {% for recipe in recipes %}
      <div class="recipe-details">
        <a
          href="{{url_for('view_recipe', recipe_id=recipe.id)}}"
          target="_blank"
          rel="noopener noreferrer"
        >
          <h2>{{recipe.title}}</h2>
          <!-- Display the recipe image if available -->
          {% if recipe.image_file %}
          <img
            src="{{ url_for('static', filename= 'uploads/' + recipe.user_id|string + '/' + recipe.image_file) }}"
            alt="{{ recipe.title }}"
          />
          <a href="{{url_for('bookmark', recipe_id=recipe.id)}}"
            ><input
              type="submit"
              value="Delete"
              class="btn btn-outline-warning"
          /></a>
          {% endif %}
        </a>
      </div>
      <hr />
      {% endfor %}
    </div>
    <div class="col"></div>
  </div>
</div>
{% endblock %}
