{% block profile %}
<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <div class="form-group">
        <label for="dietary-profile">Dietary Profile</label>
        <div class="radio-group">
          {% for diet in diets %}
          <div class="form-check">
            {% if initial_data["diet"] == diet[1] %}
            <input
              name="diet"
              class="form-check-input"
              type="radio"
              id="{{diet[1]}}"
              value="{{diet[1]}}"
              checked
            />
            {% else %}
            <input
              name="diet"
              class="form-check-input"
              type="radio"
              id="{{diet[1]}}"
              value="{{diet[1]}}"
            />
            {% endif %}
            <label class="form-check-label" for="{{diet[1]}}"
              >{{diet[0]}}</label
            >
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="cuisine">Cuisines</label>
        <div class="checkbox-group">
          {% for cuisine in cuisines %}
          <div class="form-check">
            {% if cuisine in initial_data["cuisines"] %}
            <input
              name="cuisine"
              class="form-check-input"
              type="checkbox"
              id="{{cuisine}}"
              value="{{cuisine}}"
              checked
            />
            {% else %}
            <input
              name="cuisine"
              class="form-check-input"
              type="checkbox"
              id="{{cuisine}}"
              value="{{cuisine}}"
            />
            {% endif %}
            <label class="form-check-label" for="{{cuisine}}"
              >{{cuisine}}</label
            >
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="allergy">Allergies</label>
        <div class="checkbox-group">
          {% for allergy in allergies %}
          <div class="form-check">
            {% if allergy[1] in initial_data["allergies"] %}
            <input
              name="allergy"
              class="form-check-input"
              type="checkbox"
              id="{{allergy[1]}}"
              value="{{allergy[1]}}"
              checked
            />
            {% else %}
            <input
              name="allergy"
              class="form-check-input"
              type="checkbox"
              id="{{allergy[1]}}"
              value="{{allergy[1]}}"
            />
            {% endif %}
            <label class="form-check-label" for="{{allergy[1]}}"
              >{{allergy[0]}}</label
            >
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br />
<div class="form-group">
  <label for="food-taste">Food Taste</label>
  <div class="range-group">
    {% for taste in tastes %}
    <div class="form-range">
      <div class="container text-center">
        <div class="row align-items-start">
          <div class="col-1">
            <label class="form-check-label" for="{{taste[1]}}"
              >{{taste[0]}}&ensp;&ensp;</label
            >
          </div>
          <div class="col-11">
            {% if initial_data["taste"].get(taste[1]) %}
            <input
              name="{{taste[1]}}"
              type="range"
              class="form-range"
              id="tasteRange"
              value="{{ initial_data['taste'].get(taste[1])}}"
            />
            {% else %}
            <input
              name="{{taste[1]}}"
              type="range"
              class="form-range"
              id="tasteRange"
            />
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
