{% extends "layout.html" %}{% block content %} {% if session['colour_mode'] ==
'light' %}
<body
  style="background-image: url({{url_for('static', filename='Home-light.jpg')}})"
>
  {% else %}
  <body
    style="background-image: url({{url_for('static', filename='Home.jpg')}})"
  >
    {% endif %}
    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col justify-content-center">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <h1>Welcome to "Mini Kitchen"</h1>
          <h4>Unleash your inner chef with MEEEE!!</h4>
          <hr />
          <span>
            {% if session['colour_mode'] == 'light' %}
            <a href="{{url_for('random')}}"
              ><input
                type="submit"
                name="update"
                value="Browse recipes."
                class="btn btn-outline-dark"
            /></a>
            {% else %}
            <a href="{{url_for('random')}}"
              ><input
                type="submit"
                name="update"
                value="Browse recipes."
                class="btn btn-outline-light"
            /></a>
            {% endif %} {% if not current_user.is_authenticated %} {% if
            session['colour_mode'] == 'light' %}
            <a href="{{url_for('register')}}"
              ><input
                type="submit"
                name="update"
                value="Register to access more features."
                class="btn btn-outline-dark"
            /></a>
            {% else %}
            <a href="{{url_for('register')}}"
              ><input
                type="submit"
                name="update"
                value="Register to access more features."
                class="btn btn-outline-light"
            /></a>
            {% endif %} {% endif %}
          </span>
        </div>
        <div class="col"></div>
      </div>
    </div>
    {% endblock %}
  </body>
</body>
