{% extends "layout.html" %} {% block content %}
<div class="container text-center">
  <div class="row align-items-center">
    <div class="col"></div>
    <div class="col-3">
      <h4>Add item to pantry</h4>
      <form method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.name(class="form-control" + (" is-invalid" if form.name.errors
          else "") + " ", **{"placeholder": "Name", "aria-describedby":
          "nameHelp", "autocomplete": "off"}) }}
        </div>
        <div class="form-group">
          {{ form.quantity(class="form-control" + (" is-invalid" if
          form.quantity.errors else "") + " ", **{"placeholder": "Quantity",
          "aria-describedby": "quantityHelp", "autocomplete": "off"}) }}
        </div>
        <div class="form-group">
          <label for="unit">Unit</label>
          <select class="form-control" id="unit" name="unit" required>
            <option value="g">g</option>
            <option value="ml">ml</option>
            <option value="piece">unit/piece</option>
          </select>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
<hr />
<div class="container text-center">
  <div class="row align-items-center">
    <div class="col"></div>
    <div class="col-4">
      <h1>The Pantry</h1>
      <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">Name</div>
          <div class="col">Quantity</div>
          <div class="col">Unit</div>
          <div class="col">Delete?</div>
          <hr />
        </div>
        {% for item in items %}
        <div class="row align-items-start">
          <div class="col">{{ item }}</div>
          <div class="col">{{ items[item]["quantity"] }}</div>
          <div class="col">{{ items[item]["unit"] }}</div>
          <div class="col">
            <a href="{{ url_for('delete_item', item = item) }}"
              ><i class="fa-solid fa-delete-left"></i
            ></a>
          </div>
          <hr />
        </div>
        {%endfor%}
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>

{% endblock content %}
