{% extends "layout.html" %}{% block content %}
<div class="recipe-details"></div>
<hr />
<div class="container text-center">
  <div class="row align-items-center">
    {% for recipe in recipes[:recipes|length//2] %}
    <div class="col">
      <a
        href="{{url_for('view_external_recipe', recipe_id=recipe.id)}}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <h2>{{recipe.title}}</h2>
        <!-- Display the recipe image if available -->
        {% if recipe.image %}
        <img
          src="{{ recipe.image }}"
          alt="Picture of {{ recipe.title }}"
          title="{{recipe.title}}"
        />
        {% endif %}
      </a>
    </div>
    {% endfor %} {% for recipe in recipes[recipes|length//2:] %}
    <div class="col">
      <a
        href="{{url_for('view_external_recipe', recipe_id=recipe.id)}}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <h2>{{recipe.title}}</h2>
        <!-- Display the recipe image if available -->
        {% if recipe.image %}
        <img src="{{ recipe.image }}" alt="{{ recipe.title }}" />
        {% endif %}
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
