{% extends "layout.html" %} {% block content %}

<div class="container">
  <hr>
  <div class="row align-items-start">
    <div class="col">
      <img
        src="{{ url_for('static', filename= 'uploads/' + recipe.user_id|string + '/' + recipe.image_file) }}"
        width="300"
        title="{{ recipe.title }}"
        alt="Picture of {{ recipe.title }}"
      />
      <h1>{{ recipe.title }}</h1>
      <a href="{{ url_for('profile', user_id=recipe.user_id)}}">
        <hr>
      <p><img
        src="{{ author_dp }}"
        width="50"
        class="img-fluid rounded"
        alt="Profile Picture of {{ recipe.user.username }}"
        title="Author's Profile Picture"
      /> {{ recipe.user.username}}</p><hr>
    </a>
      <h2 class="section-title">Ingredients</h2>
      <ul class="fa-ul">
      {% for ingredient in ingredients %}
      {% if current_user.is_authenticated %}
      {% if ingredient.lower() in pantry %}
        <li><span class="fa-li"><i class="fa-solid fa-check" title="Found in pantry" style="color: rgb(86, 142, 1);"></i></span>
        <span
          >{{ingredients[ingredient].quantity}}
          {{ingredients[ingredient].unit}}&ensp;{{ingredient}}</span
        ></li>
      {% else %}
        <li><span class="fa-li"><i class="fa-solid fa-x" title="Not found in pantry" style="color: red;"></i></span>
        <span
          >{{ingredients[ingredient].quantity}}
          {{ingredients[ingredient].unit}}&ensp;{{ingredient}}</span
        ></li>
      {% endif %}
      {% else %}
        <li>
        <span
          >{{ingredients[ingredient].quantity}}
          {{ingredients[ingredient].unit}}&ensp;{{ingredient}}</span
        ></li>
      {% endif %}
      {% endfor %}
    </ul>
    </div>
    <div class="col">
      <h2 class="section-title">Instructions</h2>
      <p>{{ recipe.instructions }}</p>
    </div>
    <div class="col-3">

      <h2>Diet</h2>
      <p>{{diet}}</p>
      <h2 class="section-title">Allergies</h2>
      <p>{% for allergy in allergies %} {{allergy}} &ensp; {% endfor %}</p>
      <h2 class="section-title">Cuisines</h2>
      <p>{% for cuisine in cuisines %} {{cuisine}} &ensp; {% endfor %}</p>
      <h2 class="section-title">Ratings</h2>
      <p>Upvotes: {{ ratings.upvotes }} Downvotes: {{ratings.downvotes}}</p>
      <a href="{{ url_for('upvote', recipe_id = recipe.id) }}"
        ><i class="fa fa-thumbs-up" style="color:{{'green' if user_vote.upvote }}"></i
      ></a>
      <a href="{{ url_for('downvote', recipe_id = recipe.id) }}"
        ><i class="fa fa-thumbs-down" style="color:{{'red' if (user_vote != None) and (not user_vote.upvote)}}"></i
      ></a>
      <a href="{{ url_for('bookmark', recipe_id = recipe.id) }}">
        <i class="fa fa-bookmark" style="color:{{'gold' if user_bmark }}"></i>
      </a>
      <h4>Taste Profile</h4>
      {% for taste in tastes %}
      <p>{{ taste }}</p>
      <input
        type="range"
        class="form-range"
        min="0"
        max="100"
        value="{{ tastes[taste] }}"
        id="{{ taste }}"
        disabled
      />
      {% endfor %} {% if current_user.is_authenticated %} {% if current_user.id
      == recipe.user_id %} <hr>
      <div class="text-center">
      <form action="{{ url_for('delete_recipe', recipe_id=recipe.id) }}">
        <input type="submit" class="btn btn-danger" value="Delete Recipe" />
      </form>
    </div>
      {% endif %} {% endif %}
      <hr />
    </div>
  </div>
</div>
<h2>Comments ({{ recipe.comments|length }})</h2>
{% for comment in comments %}
<div class="border border-primary rounded p-3">
  <p>
    <a href="{{ url_for('profile', user_id = comment[0].user_id) }}"
      >{{ comment[0].user.username }}</a
    > &nbsp <img
    src="{{ comment[1] }}"
    width="50"
    class="img-fluid rounded"
    alt="Profile Picture of {{ comment[0].user.username }}"
    title="Profile Picture of {{ comment[0].user.username }}"
  />   <span class="container"> {{ comment[0].content }} </span>
  {% if current_user.is_authenticated %}
  {% if current_user.id == comment[0].user_id %}
  <a href="{{ url_for('delete_comment', comment_id=comment[0].id) }}" class="btn btn-link">Delete Comment</a>
  {% endif %}
  {% endif %}
</p>
  
<p title="{{ comment[0].date }}" class="text-end">posted on {{ comment[0].date }}</p>
</div>
</br>{% endfor %}{% if current_user.is_authenticated
%}
<form method="POST" action="">
  {{ form.csrf_token }}
  <div class="row g-3 align-items-center">
    <div class="col-auto">{{ form.content.label(class__='form-label') }}</div>
    <div class="col-auto">{{ form.content(class__='form-control') }}</div>
    <div class="col-auto">
      <input type="submit" class="btn btn-primary" value="Submit Comment" />
    </div>
  </div>
</form>
{% else %}
<p><a href="{{ url_for('login') }}">Sign in</a> to add a comment.</p>
{% endif %} {% endblock content %}
