{% extends "layout.html" %} {% block content %}
<div class="container">
  <hr />
  <div class="row align-items-start">
    <div class="col">
      <img src="{{ recipe.image}}" alt="{{ recipe.title }}" />
      <h1>{{ recipe.title }}</h1>
      <hr />
      <p>
        Recipe from <a href="{{recipe.sourceUrl}}">{{recipe.sourceName}}</a>
      </p>

      <hr />
      <h2 class="section-title">Ingredients</h2>
      <ul class="ingredient-list">
        <!-- Loop through each ingredient in the recipe's extendedIngredients -->
        {% for ingredient in recipe.extendedIngredients %} {% if
        current_user.is_authenticated %} {% if ingredient.name.lower() in pantry
        %}
        <li style="color: rgb(86, 142, 1)">{{ ingredient.original }}</li>
        {% else %}
        <li style="color: red">{{ ingredient.original }}</li>
        {% endif %} {% else %}
        <li>{{ ingredient.original }}</li>
        {% endif %} {% endfor %}
      </ul>
    </div>
    <div class="col">
      <h2 class="section-title">Instructions</h2>
      <ol class="instruction-list">
        {% for step in recipe.analyzedInstructions[0].steps %}
        <li>{{ step.step }}</li>
        {% endfor %}
      </ol>
    </div>
    <div class="col-3">
      <h2 class="section-title">Diets</h2>
      <p>{% for diet in recipe.diets %} {{diet}} &ensp; {% endfor %}</p>
      <h2 class="section-title">Cuisines</h2>
      <p>
        {% for cuisine in recipe.cuisines %} {{cuisine}} &ensp; {% endfor %}
      </p>

      <h4>Taste Profile</h4>
      {% for taste in recipe.taste %}
      <p>{{ taste }}</p>
      <input
        type="range"
        class="form-range"
        min="0"
        max="100"
        value="{{ recipe.taste[taste] }}"
        id="{{ taste }}"
        disabled
      />
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
